@model AslWebCartAPI.Models.AslUserco

@{
    ViewBag.Title = "Details";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    
    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();
    
    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "AslSuperadmin") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }    
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h4>Company Name: @Html.DisplayFor(model => model.USERNM)</h4>
                    <h4>Detail's Information </h4>
                </div>
            </div>


            <div class="jumbotron">

                <div class="form-group">
                    
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.COMPID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.COMPID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.USERID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.USERID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.USERNM, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.USERNM, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.DEPTNM, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.DEPTNM, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.OPTP, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.OPTP, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ADDRESS, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.MOBNO, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.MOBNO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.EMAILID, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.EMAILID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.LOGINBY, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.LOGINBY, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.LOGINID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.LOGINID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.LOGINPW, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.LOGINPW, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.TIMEFR, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TIMEFR, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.TIMETO, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TIMETO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.STATUS, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.STATUS, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.USERPC, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.USERPC, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.INSUSERID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.INSUSERID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.INSTIME, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.INSTIME, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.INSIPNO, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.INSIPNO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.INSLTUDE, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.INSLTUDE, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.UPDUSERID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.UPDUSERID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.UPDTIME, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.UPDTIME, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.UPDIPNO, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.UPDIPNO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.UPDLTUDE, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.UPDLTUDE, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                        </div>
                    </div>
                    


                    <br />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.AslUsercoId }) |
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

</div>
